* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    --background-color: #1d4d72;
    --white-back: #d3d3d3;
    --color-color: rgb(252, 255, 221);
}

@media screen and (min-width: 600px) {
    header {
        display: flex;
        background-color: var(--background-color);
        color: white;
        justify-content: space-between;
    }

    header p {
        padding-top: 8px;
        padding-left: 8px;
        font-size: 24px;
    }

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	figure {
	
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
    .temple-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        justify-content: center;
    }

}