:root {
	--bord: 1px solid #777;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	width: 760px;
	background-color: #eee;
}

.datatable {
	width: 200px;
	margin-top: 2rem;
}

.row {
	display: grid;
	grid-template-columns: 100px 100px;
	align-items: center;
	text-align: center;
}

.col { /*remember to check if the CSS is even LINKed*/
	border-top: var(--bord);
	border-left: var(--bord);
	padding: 10px;
}

.col:nth-child(even) { /*note the even portion for later study*/
	border-right: var(--bord);
}

.row:last-child {
	border-bottom: var(--bord);
	background-color: #bbb;
}

a:active,
a:link,
a:visited { /*remember that having multiple classes with one set of parameters is possible*/
	color: navy;
}

a:hover {
	color: purple;
}
