* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto; /*centers content at the middle of page*/
    border: 1px solid black;
    padding: 0.5rem;
    background-color: #1779c5;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem; /*needed for create gaps between grid items*/
}

section {
    padding:  0px;
    background-color: #5eb1f0;
}