* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
    flex-direction: column;
	place-items: center;
	justify-content: center;
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

/*----------- HEADER --------------*/
header {
    width: 28%;
    padding: .5rem 2%;
    background-color: blue;
    color: white;
    text-align: center;

}
header h1 {margin: 0; }

main {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	width: 480px;
	background-color: rgba(225, 225, 255, 0.2);
}

p {
	margin: 1rem;
}

footer {
    background-color: blue;
    color: white;
    padding: .5rem 2%;
    text-align: center;
}


.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

.visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}