:root {
    color: rgb(252, 255, 221);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    --background-color: #1d4d72;
    --white-back: #d3d3d3;
    --color-color: rgb(252, 255, 221);
    color:rgb(252, 255, 221);
}


h1 {
    display: inline;
    text-align: center;
    background-color: var(--background-color) ;
    color: var(--color-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size:x-large;
}

h2 {
    text-align: center;
    background-color: var(--background-color);
    color: var(--color-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size:x-large;
}

nav {
    display: flex;
    justify-content: space-around;
    color: var(--color-color);
    background-color: orange;
    padding: 20px;
}

nav a {
    background-color: orange;
    color:black;
    text-decoration: none;
}

aside p {
    margin: 16px;
    background-color: var(--white-back);
}

main p {
    margin: 16px;
    background-color: var(--white-back);
    color:black;
}

h3 {
    background-color: var(--white-back);
    color: black;
    margin-left: 16px;
}


span {
    background-color: var(--background-color);
}

.about img {
    width: 200px;
    height: auto;
    margin-left: 20px; /* Space between text and image */
    float: right;
}
.desc img {
    float:left;
}


.card {
 background-color: var(--white-back);
 border-radius: 12px;
}

/*Start of Page Grid Container*/
.course-title {
    display: block;
}

.content {
    display: grid;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 2fr 1fr;

}

.content header { 
  grid-area: header; /*sets up the header for use within the grid array*/
  background-color: var(--background-color);
  text-align: center;
  color: var(--color-color);
  padding-top: 16px;
}

.content header span {
  text-align: center;
  font-size: x-large;
}

.content header nav {
    margin-top: 16px;
}

.content main { 
  grid-area: menu; /*sets up the main for use within the grid array*/
  background-color: var(--white-back);
  height: auto;
  border-radius: 12px;
  margin: 10px;
}

.content aside { 
  grid-area: content; /*sets up the aside for use within the grid array*/
  background-color: var(--white-back);
  height: auto;
  border-radius: 12px;
  margin: 10px;
}
.content footer { 
    grid-area: footer; /*sets up the footer for use within the grid array*/
    text-align: center;  
    height: 80px;
    padding-top: 16px;
    background-color: var(--background-color);
    color: var(--color-color);
}
/*End of Page Grid Container*/

footer p {
    background-color: var(--background-color);
}

.nation {
    margin-left: 16px;
    background-color: var(--white-back);
    float: left;
}

.title {

}

.box a, .box li {
    background-color: var(--white-back);
    text-decoration: none;
    color: Black;
}

.box {
    background-color: var(--white-back);
    padding: 20px;
    width: 200px;
}

.content header nav a:hover {
    background-color: rgb(255, 188, 65);
}