@media screen and (min-width: 600px) {
    header {
        display: flex;
        background-color: #1d4d72;
        color: white;
        justify-content: space-between;
    }

    header p {
        padding-top: 8px;
        padding-left: 8px;
        font-size: 24px;
    }

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	nav {
		flex-direction: row;
	}

	nav a {
		display: block;
		flex: 1 1 100%;
	}
	
    .temple-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        justify-content: center;
    }

}